/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.aurakai.auraframefx.api.system.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import dev.aurakai.auraframefx.api.system.models.ErrorResponse
import dev.aurakai.auraframefx.api.system.models.LockScreenConfig

import com.squareup.moshi.Json

import dev.aurakai.auraframefx.api.system.infrastructure.ApiClient
import dev.aurakai.auraframefx.api.system.infrastructure.ApiResponse
import dev.aurakai.auraframefx.api.system.infrastructure.ClientException
import dev.aurakai.auraframefx.api.system.infrastructure.ClientError
import dev.aurakai.auraframefx.api.system.infrastructure.ServerException
import dev.aurakai.auraframefx.api.system.infrastructure.ServerError
import dev.aurakai.auraframefx.api.system.infrastructure.MultiValueMap
import dev.aurakai.auraframefx.api.system.infrastructure.PartConfig
import dev.aurakai.auraframefx.api.system.infrastructure.RequestConfig
import dev.aurakai.auraframefx.api.system.infrastructure.RequestMethod
import dev.aurakai.auraframefx.api.system.infrastructure.ResponseType
import dev.aurakai.auraframefx.api.system.infrastructure.Success
import dev.aurakai.auraframefx.api.system.infrastructure.toMultiValue

class SystemCustomizationApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.auraframefx.com/v1")
        }
    }

    /**
     * GET /system/lockscreen-config
     * Get lock screen configuration
     * 
     * @return LockScreenConfig
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun systemLockscreenConfigGet() : LockScreenConfig {
        val localVarResponse = systemLockscreenConfigGetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as LockScreenConfig
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /system/lockscreen-config
     * Get lock screen configuration
     * 
     * @return ApiResponse<LockScreenConfig?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun systemLockscreenConfigGetWithHttpInfo() : ApiResponse<LockScreenConfig?> {
        val localVariableConfig = systemLockscreenConfigGetRequestConfig()

        return request<Unit, LockScreenConfig>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation systemLockscreenConfigGet
     *
     * @return RequestConfig
     */
    fun systemLockscreenConfigGetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/system/lockscreen-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /system/lockscreen-config
     * Update lock screen configuration
     * 
     * @param lockScreenConfig 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun systemLockscreenConfigPut(lockScreenConfig: LockScreenConfig) : Unit {
        val localVarResponse = systemLockscreenConfigPutWithHttpInfo(lockScreenConfig = lockScreenConfig)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /system/lockscreen-config
     * Update lock screen configuration
     * 
     * @param lockScreenConfig 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun systemLockscreenConfigPutWithHttpInfo(lockScreenConfig: LockScreenConfig) : ApiResponse<Unit?> {
        val localVariableConfig = systemLockscreenConfigPutRequestConfig(lockScreenConfig = lockScreenConfig)

        return request<LockScreenConfig, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation systemLockscreenConfigPut
     *
     * @param lockScreenConfig 
     * @return RequestConfig
     */
    fun systemLockscreenConfigPutRequestConfig(lockScreenConfig: LockScreenConfig) : RequestConfig<LockScreenConfig> {
        val localVariableBody = lockScreenConfig
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/system/lockscreen-config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
