/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.aurakai.auraframefx.api.aura.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import dev.aurakai.auraframefx.api.aura.models.User
import dev.aurakai.auraframefx.api.aura.models.UsersMePutRequest

import com.squareup.moshi.Json

import dev.aurakai.auraframefx.api.aura.infrastructure.ApiClient
import dev.aurakai.auraframefx.api.aura.infrastructure.ApiResponse
import dev.aurakai.auraframefx.api.aura.infrastructure.ClientException
import dev.aurakai.auraframefx.api.aura.infrastructure.ClientError
import dev.aurakai.auraframefx.api.aura.infrastructure.ServerException
import dev.aurakai.auraframefx.api.aura.infrastructure.ServerError
import dev.aurakai.auraframefx.api.aura.infrastructure.MultiValueMap
import dev.aurakai.auraframefx.api.aura.infrastructure.PartConfig
import dev.aurakai.auraframefx.api.aura.infrastructure.RequestConfig
import dev.aurakai.auraframefx.api.aura.infrastructure.RequestMethod
import dev.aurakai.auraframefx.api.aura.infrastructure.ResponseType
import dev.aurakai.auraframefx.api.aura.infrastructure.Success
import dev.aurakai.auraframefx.api.aura.infrastructure.toMultiValue

class UsersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.aurafx.dev/v1")
        }
    }

    /**
     * GET /users/me
     * Get current user profile
     * 
     * @return User
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun usersMeGet() : User {
        val localVarResponse = usersMeGetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as User
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /users/me
     * Get current user profile
     * 
     * @return ApiResponse<User?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun usersMeGetWithHttpInfo() : ApiResponse<User?> {
        val localVariableConfig = usersMeGetRequestConfig()

        return request<Unit, User>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation usersMeGet
     *
     * @return RequestConfig
     */
    fun usersMeGetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/users/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /users/me
     * Update current user profile
     * 
     * @param usersMePutRequest 
     * @return User
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun usersMePut(usersMePutRequest: UsersMePutRequest) : User {
        val localVarResponse = usersMePutWithHttpInfo(usersMePutRequest = usersMePutRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as User
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /users/me
     * Update current user profile
     * 
     * @param usersMePutRequest 
     * @return ApiResponse<User?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun usersMePutWithHttpInfo(usersMePutRequest: UsersMePutRequest) : ApiResponse<User?> {
        val localVariableConfig = usersMePutRequestConfig(usersMePutRequest = usersMePutRequest)

        return request<UsersMePutRequest, User>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation usersMePut
     *
     * @param usersMePutRequest 
     * @return RequestConfig
     */
    fun usersMePutRequestConfig(usersMePutRequest: UsersMePutRequest) : RequestConfig<UsersMePutRequest> {
        val localVariableBody = usersMePutRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/users/me",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
